<html class="mat-app-background">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<mat-toolbar color="primary">
  <mat-icon>gesture</mat-icon>
  <button mat-button [matMenuTriggerFor]="menu">Rack Designer</button>
  <mat-menu #menu="matMenu">
    <button routerLink="/view" mat-menu-item>
      View
    </button>
    <button routerLink="/create" mat-menu-item>
      Create
    </button>
  </mat-menu>
</mat-toolbar>

<body>
  <router-outlet></router-outlet>
</body>

</html>
