<mat-grid-list cols="2" rowHeight="2:1">

  <mat-grid-tile>
    <mat-grid-tile-header>
      crewate
    </mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>
      Words view wordWords view wordWords words wordWords words wordWords words wordWords words wordWords words wordWords words
      wordWords words wordWords words wordWords words wordWords words word
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>
      Words crete wordWords create wordWords words wordWords words wordWords words wordWords words wordWords words wordWords words
      wordWords words wordWords words wordWords words wordWords words word
    </p>
  </mat-grid-tile>
</mat-grid-list>
